.btn{
    display: block;
    /* background: #151c1cf6; */
    background: brown;
    padding: 0.6em 1.8em;
    font-size: 1.4rem;
    letter-spacing: 0.02em;
    color: #fff;
    border: none;
    border-radius: 23px;
    transition: all 0.2s ease;
    text-align: center;
}

.btn:hover{
    outline: none;
    background:rgba(147, 28, 28, 0.878);
    cursor: pointer;
}