.cartButton{
    background: rgb(95, 27, 27);
    color: #FFF;
    width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    padding: 0.7em 1em;
    border-radius: 25px;
    outline: none;
    border: none;
}

.cartIcon{
    font-size: 2rem;
    display: block;
}
.cartIcon:hover{
    cursor: pointer;
}
.cartStatusText{
    font-size: 1.5rem;
    display: block;
}
.cartStatus{
    font-size: 1.5rem;
    /* background-color: rgb(11, 50, 50); */
    background: brown;
    padding: 0.5em 0.6em;
    display: block;
    /* width: 30px;
    height: 30px; */
    border-radius: 50%;
    text-align: center;
}