.addMealForm{
    /* border: 1px solid gray; */
    width: fit-content;
    padding: 1em 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

